<div id="question-overlay" class="overlay animated {{ enterAnimation }}">
  <div id="question">
    <div class="badge">
      <img class="question">
    </div>
    <div id="question-container">
      <div class="question-text" [innerHTML]="question.text"></div>
      <div class="timer timer-background"></div>
      <div class="timer timer-foreground" [style.width]="timerWidth"></div>
    </div>
  </div>
  <table *ngIf="showAnswers()">
    <tr>
      <td class="answer" [class.correct]="isCorrect(0)">
        <div class="answer-letter">A.</div>
        <div [innerHTML]="question.answers[0].text"></div>
      </td>
      <td class="answer" [class.correct]="isCorrect(1)">
        <div class="answer-letter">B.</div>
        <div [innerHTML]="question.answers[1].text"></div>
      </td>
    </tr>
    <tr>
      <td class="answer" [class.correct]="isCorrect(2)">
        <div class="answer-letter">C.</div>
        <div [innerHTML]="question.answers[2].text"></div>
      </td>
      <td class="answer" [class.correct]="isCorrect(3)">
        <div class="answer-letter">D.</div>
        <div [innerHTML]="question.answers[3].text"></div>
      </td>
    </tr>
  </table>
</div>
