<div class="intro">
  <div class="logo animated fadeIn">
    <img class="animated rotateIn">
    <div class="title animated bounceInDown">
      <span class="title-small">go to</span>
      <span class="title-large">DRINKUPCINEMA.COM</span>
      <span class="title-small">to play!</span>
    </div>
    <button (click)="start()" class="start animated bounceInUp">Start</button>
  </div>
  <div *ngIf="players">
    <div *ngFor="let player of players; let i = index"
      [style.top]="getPlayerTop(i)"
      [style.left]="getPlayerLeft(i)"
      class="player animated pulse infinite"
    >
    {{ player.name }}
    </div>
  </div>
</div>
