<div *ngIf="!isSociables()" id="drinks-overlay" class="overlay animated {{ exitAnimation }}">
  <div class="drinkers">
    <img class="badge" src="./assets/img/drinks-{{ game.currentQuestion.drink_multiplyer }}.png">
    <table>
      <tbody>
        <tr *ngFor="let row of getRows()">
          <td *ngFor="let player of row" [innerHTML]="player.name"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isSociables()" id="sociables-overlay" class="drinks-overlay-container sociables animated flash infinite">
  <p>SOCIABLES!</p>
</div>
