<div class="credits scroll">
  <div class="movie-title"></div>
  <div class="title">Best Duder</div>
  <div class="name">{{ mostCorrectAnswers.name }} ({{ mostCorrectAnswers.correct_answers }} correct)</div>
  <div class="title">Worst Duder</div>
  <div class="name">{{ mostWrongAnswers.name }} ({{ mostWrongAnswers.incorrect_answers }} incorret)</div>
  <div class="title">Where was this Duder</div>
  <div class="name">{{ mostMissedAnswers.name }} ({{ mostMissedAnswers.missed_answers }} missed)</div>
  <div class="title">Drunkest Duder</div>
  <div class="name">{{ mostDrinks.name }} ({{ mostDrinks.drinks }} drinks)</div>
  <div class="title">Quickest Duder</div>
  <div class="name">{{ bestAnswerSpeed.name }} ({{ bestAnswerSpeedText }} sec)</div>
  <div class="title">Longest Streak Duder</div>
  <div class="name">{{ bestStreak.name }} ({{ bestStreak.best_streak }} in a row)</div>
</div>
