<div class="credits scroll">
  <div class="movie-title"></div>
  <div class="title">Best Duder</div>
  <div class="name">{{ mostCorrectAnswers.name }}</div>
  <div class="title">Worst Duder</div>
  <div class="name">{{ mostWrongAnswers.name }}</div>
  <div class="title">Where was this Duder</div>
  <div class="name">{{ mostMissedAnswers.name }}</div>
  <div class="title">Drunkest Duder</div>
  <div class="name">{{ mostDrinks.name }}</div>
  <div class="title">Quickest Duder</div>
  <div class="name">{{ bestAnswerSpeed.name }}</div>
  <div class="title">Longest Streak Duder</div>
  <div class="name">{{ bestStreak.name }}</div>
</div>
