<div class="credits scroll">
  <div class="movie-title"></div>
  <div class="title">Best Duder</div>
  <div class="name">{{ statistics.mostCorrectAnswers.name }}</div>
  <div class="title">Worst Duder</div>
  <div class="name">{{ statistics.mostWrongAnswers.name }}</div>
  <div class="title">Where was this Duder</div>
  <div class="name">{{ statistics.mostMissedAnswers.name }}</div>
  <div class="title">Drunkest Duder</div>
  <div class="name">{{ statistics.mostDrinks.name }}</div>
  <div class="title">Quickest Duder</div>
  <div class="name">{{ statistics.bestAnswerSpeed.name }}</div>
  <div class="title">Longest Streak Duder</div>
  <div class="name">{{ statistics.bestStreak.name }}</div>
</div>
