
.credits {
  position: absolute;
  width: 100%;
  font-family: Raleway;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: black;
}

.scroll {
  animation: 45s credits linear infinite;
}

.credits .movie-title {
  text-transform: uppercase;
  margin-bottom: 145px;
  font-size: 108px;
}

.credits .title {
  text-transform: uppercase;
  margin-bottom: 13px;
  font-size: 46px;
}

.credits .name {
  font-weight: 100;
  margin-bottom: 170px;
  font-size: 35px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -160%;
  }
}
