<div *ngIf="showTime" class="time-display">{{ time }} (time - 22)</div>
<div class="movie-container animated" [class.fadeOut]="showCredits()">
  <video
    #movie
    class="movie"
    autoplay="autoplay"
    [muted]="muteVideo"
    [controls]="showControls"
    (click)="toggleControls()"
    (timeupdate)="onTimeUpdate($event.target.currentTime)"
    (seeked)="onSeeked($event.target.currentTime)"
  >
    <source id="avi" [src]="movieFilePath" type="video/mp4">
    <track label="English" kind="subtitles" srclang="en" src="/home/rmiller/Desktop/movie/subs.vtt" default>
    <p>Your user agent does not support the HTML5 Video element.</p>
  </video>
  <mdg-movie-question *ngIf="showQuestion()" #question></mdg-movie-question>
  <mdg-movie-drinks *ngIf="showDrinks()"></mdg-movie-drinks>
</div>
<mdg-movie-credits *ngIf="showCredits()"></mdg-movie-credits>
